@model IEnumerable<ViewModels.BlogViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Blogs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserName)
            </td>
            <td>
                @Html.ActionLink(item.PostsCount.ToString(), "Index", "Posts", new { blogId = item.Id }) 
            </td>
            <td> 
                <a asp-action="Delete"
                   onclick="return confirm('Delete: @item.Id ?');"
                   asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
