@model IEnumerable<ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.ActionLink(item.BlogId.ToString(), "RedirectToBlog", new { id = item.BlogId })
            </td>
            <td>
                @string.Join(',', item.Tags)
            </td>
            <td>
                <a asp-action="AddTag" asp-route-id="@item.Id">Add Tag</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete"
                   onclick="return confirm('Delete: @item.Id ?');"
                   asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
